<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}">

<section class="hero-section">
  {% comment %}
    <div class="hero-container">
      <div>
        <h1>The Gift Guide</h1>
        <p>
          Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts
          to delight your loved ones this holiday season.
        </p>
      </div>
      <div class="hero-img-container"><img class="hero-img-frame" src="{{ 'bg-hero-m.svg' | asset_url }}" alt="Hero Image" width="600" height="480"></div>
    </div>
  {% endcomment %}
  <div class="hero-text-container-mobile">
    <h1>{{ section.settings.hero_title }}</h1>
    <p>{{ section.settings.hero_description }}</p>
  </div>
  <div class="hero-img-container">
    <img
      class="hero-img-frame-mobile"
      src="{{ 'bg-hero-m.svg' | asset_url }}"
      alt="Hero Image"
      width="600"
      height="480"
    >
    <img
      class="hero-img-frame-desktop"
      src="{{ 'bg-hero-d.svg' | asset_url }}"
      alt="Hero Image"
      width="1200"
      height="780"
    >
    <div class="hero-text-container-desktop">
      <h1>{{ section.settings.hero_title }}</h1>
      <p>{{ section.settings.hero_description }}</p>
      <button class="hero-button">
        <span>{{ section.settings.hero_button_text }}</span>
        <svg
          class="hero-arrow-icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </button>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "hero_description",
      "label": "Hero Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text",
      "default": "Shop Now"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "General"
    }
  ]
}
{% endschema %}
